.pelicula-principal-2 {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, .45) 100%), url(peli2.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.pelicula-principal-2 .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.pelicula-principal-2 .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.pelicula-principal-2 .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 40%;
    margin-bottom: 1.25em;
}

.pelicula-principal-2 .boton {
    background: rgba(74, 74, 74, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;

}

.pelicula-principal-2 .boton:hover {
    background: #fff;
    color: #000;
}

.pelicula-principal-2 .boton i {
    margin-right: 0.625em;
}

/*-------MEDIA QUERIS--------*/
@media screen and (max-width: 900px) {
    .pelicula-principal-2 {
        font-size: 14px;
    }

    .pelicula-principal-2 .descripcion {
        max-width: 100%;
    }

@media screen and (max-width: 500px) {
    .pelicula-principal-2 {
        font-size: 10px;
    }
}