<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/estilos.css') }}">
    <link href="{{ url_for('static', filename = 'sources/icons/icon-2.ico') }}" rel="icon" />

	<title>{{ data.titulo }}{{ data.tituloEnc }}</title>
</head>
<body>
	<div class="contenedor">
		<div class="contenedorheadernav">
			<header class="header">
				<div class="denominacionEnc">
					<h2 title="{{ data.tituloEnc }}">{{ data.tituloEnc }}</h2>
					<p>{{ data.tituloEncNav }}</p>	
				</div>		
				<div class="menuHeader">
					<div class="user">
						<p>Usuario:</p>
					</div>
					<div class="nombre" title="{{ data.usuario }}">
						<p><b>{{ data.usuario }}</b></p>
					</div>
					<div class="cedula">
						<p>ID:</p>
					</div>
					<div class="UUID" title="{{ data.UUID }}">
						<p><b>{{ data.UUID }}</b></p>
					</div>
					<div class="cerrarSesion" title="Cerrar Sesión">
						<a href="">Cerrar Sesión</a>
					</div>
				</div>
			</header>
			<div class="contenedor-nav">
				<nav>
				{% for c in data.opcionesNav %}
				{% set m = data.linksNav[loop.index-1] %}
					<a href="{{ m }}" title="{{ c }}">{{ c }}</a>				
				{% endfor %}
				</nav>
			</div>
		</div>
		{% block pagina_perfil %}{% endblock %}
		{% block perfil %}{% endblock %}	
		{% block registro_academico %}{% endblock %}
		{% block horario %}{% endblock %}
		<footer class="footer">
            <div class="version">
                <p>versión 3.0	</p>
            </div>
            <div class="portfolio">
                <p>Portafolio - del - Estudiante</p>
            </div>
            <div class="copyright">
                <p><a href="https://www.instagram.com/pericao320/" target="_blank" title="Instagram - Pericao">Pericao</a> - © - Copyright 2022</p>
            </div>
		</footer>
	</div>
</body>