<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="estilos.css">

	<title>Perfil del Estudiante</title>
</head>
<body>
	<div class="contenedor">
		<header class="header">
			<h2>UTN | Portafolio Estudiantil</h2>
			<div class="menuHeader">
				<div class="user">
					<p><b>Usuario:</b></p>
				</div>
				<div class="nombre">
					<p>Hinojosa Rojas Pedro Saúl</p>
				</div>
				<div class="cerrarSesion">
					<a href="">Cerrar Sesión</a>
				</div>
			</div>
		</header>
		<!--<section class="posicion"><p>> Perfil</p></section>-->
		<div class="contenedor-nav">
			<nav>
				<a href="profile.html">Inicio</a>
				<a href="perfilEstudiantil.html">Perfil</a>
				<a href="#">Registro Académico</a>
				<a href="#">Notas</a>
				<a href="#">Horario</a>
				<a href="#">Sílabo</a>
				<a href="#">Pagos</a>
				<a href="#">Evaluación</a>
				<a href="#">Matrículas</a>
				<a href="#">Ficha Socioeconómica</a>
				<a href="#">Becas</a>
			</nav>
			<footer class="footer">
				<div class="version">
					<p>versión 2.1.0</p>
				</div>
				<div class="portfolio">
					<p>Portafolio - del - Estudiante</p>
				</div>
				<div class="copyright">
					<p>Pericao - © - Copyright 2022</p>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>