<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/estilos.css') }}">
    <link href="{{ url_for('static', filename = 'sources/icons/icon-2.ico') }}" rel="icon" />

	<title>{{ data.titulo }}</title>
</head>
<body>
	<div class="contenedor">
		<header class="header">
			<h2 title="{{ data.tituloEnc }}">{{ data.tituloEnc }}</h2>
			<div class="menuHeader">
				<div class="user">
                    <p>Usuario:</p>
                </div>
                <div class="nombre" title="{{ data.usuario }}">
                    <p><b>{{ data.usuario }}</b></p>
                </div>
				<div class="cedula">
                    <p>CI:</p>
                </div>
				<div class="UUID" title="{{ data.UUID }}">
                    <p><b>{{ data.UUID }}</b></p>
                </div>
                <div class="cerrarSesion" title="Cerrar Sesión">
                    <a href="">Cerrar Sesión</a>
                </div>
			</div>
		</header>
		<div class="contenedor-nav">
			<nav>
			{% for c in data.opcionesNav %}
				<a href="{{ '127.0.0.1:5000/app/templates/'+ loop.index|string }}" title="{{ c }}">{{ c }}</a>				
			{% endfor %}
			</nav>
		</div>

	</div>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</body>