<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/estilos.css') }}">
    <link href="{{ url_for('static', filename = 'sources/icons/icon.ico') }}" rel="icon" />

	<title>{{ data.titulo }}</title>
</head>
<body>
	<div class="contenedor">
		<header class="header">
			<h2>UTN | Portafolio Estudiantil</h2>
            <div class="menuHeader">
                <div class="user">
                    <p><b>Usuario:</b></p>
                </div>
                <div class="nombre">
                    <p>{{ data.usuario }}</p>
                </div>
                <div class="cerrarSesion">
                    <a href="">Cerrar Sesión</a>
                </div>
            </div>
		</header>
		<div class="contenedor-nav">
			<nav>
				<a href="profile.html">Inicio</a>	
				<a href="perfilEstudiantil.html">Perfil</a>	
				<a href="#">Registro Académico</a>	
				<a href="#">Notas</a>	
				<a href="#">Horario</a>	
				<a href="#">Sílabo</a>	
				<a href="#">Pagos</a>	
				<a href="#">Evaluación</a>	
				<a href="#">Matrículas</a>
				<a href="#">Ficha Socioeconómica</a>
				<a href="#">Becas</a>
			</nav>
		</div>
		<div class="MenuLateral">
            <!--<a href="#">
                <div class="carnetEstudiantil">
                    <img src="../sources/imgs/carnetEstudiantil.png" alt="Carnet Estudiantil" />
                    <h3>Carnet Estudiantil</h3>
                </div>
            </a>-->
            <a href="#">
                <div class="perfilEstudiantil">
                    <img src="../sources/imgs/perfilEstudiantil.png" alt="Perfil Estudiantil" title="Perfil Estudiantil" />
                    <h3>Perfil Estudiantil</h3>
                </div>
            </a>
            <a href="#">
                <div class="registroAcademico">
                    <img src="../sources/imgs/registroAcademico.png" alt="Registro Académico" title="Registro Académico" />
                    <h3>Registro Académico</h3>
                </div>
            </a>
            <a href="#">
                <div class="notas">
                    <img src="../sources/imgs/notas.png" alt="Notas" title="Notas" />
                    <h3>Notas</h3>
                </div>
            </a>
            <a href="#">
                <div class="horario">
                    <img src="../sources/imgs/horario.png" alt="Horario" title="Horario" />
                    <h3>Horario</h3>
                </div>
            </a>
            <a href="#">
                <div class="pagos">
                    <img src="../sources/imgs/pagos.png" alt="Pagos Realizados" title="Pagos Realizados" />
                    <h3>Pagos Realizados</h3>
                </div>
            </a>
            <a href="#">
                <div class="evaluacionDocentes">
                    <img src="../sources/imgs/evaluacionDocentes.png" alt="Evaluación a Docentes" title="Evaluación a Docentes" />
                    <h3>Evaluación a Docentes</h3>
                </div>
            </a>
            <a href="#">
                <div class="matriculas">
                    <img src="../sources/imgs/matriculas.png" alt="Matriculas" title="Matriculas" />
                    <h3>Matriculas</h3>
                </div>
            </a>
            <a href="#">
                <div class="fichaSocioeconomica">
                    <img src="../sources/imgs/fichaSocioeconomica.png" alt="Ficha Socioeconómica" title="Ficha Socioeconómica" />
                    <h3>Ficha Socioeconómica</h3>
                </div>
            </a>
            <a href="#">
                <div class="formatoVinculacion">
                    <img src="../sources/imgs/formatoVinculacion.png" alt="Formatos de Vinculación" title="Formatos de Vinculación" />
                    <h3>Formatos de Vinculación</h3>
                </div>
            </a>
            <a href="#" title="Becas">
                <div class="becas" >
                    <img src="../sources/imgs/becas.png" alt="Becas" />
                    <h3>Becas</h3>
                </div>
            </a>                                
	    </div>
        <div class="calendario">
            <h3>Abril <b>2022</b></h3>
            <div class="calendario-dias">
                <div class="dia-semana">Domingo</div>
                <div class="dia-semana">Lunes</div>
                <div class="dia-semana">Martes</div>
                <div class="dia-semana">Miércoles</div>
                <div class="dia-semana">Jueves</div>
                <div class="dia-semana">Viernes</div>
                <div class="dia-semana">Sábado</div>
                <div>27</div>
                <div>
                    28
                    <div>
                        <h4>REALIDAD NACIONAL A:</h4>
                        <p>
                            Línea de tiempo de la historia del Ecuador.
                        </p>
                    </div>
                    <!--<div>
                        <a href="">
                            <h4>REALIDAD NACIONAL A:</h4>
                            <p>
                                Línea de tiempo de la historia del Ecuador
                            </p>
                        </a>
                    </div>-->
                </div>
                <div>29</div>
                <div>30</div>
                <div>31</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>
                    5
                    <div>
                        <h4 class="sinEntregar">REALIDAD NACIONAL A:</h4>
                        <p>
                            Línea de tiempo de la historia del Ecuador.
                        </p>
                    </div>
                </div>
                <div>6</div>
                <div>7</div>
                <div>
                    8
                    <div>
                        <h4>REALIDAD NACIONAL A:</h4>
                        <p>
                            Línea de tiempo de la historia del Ecuador.
                        </p>
                    </div>
                    <div>
                        <h4 class="entregado">REALIDAD NACIONAL A:</h4>
                        <p>
                            Línea de tiempo de la historia del Ecuador.
                        </p>
                    </div>
                </div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>21</div>
                <div>22</div>
                <div>23</div>
                <div>24</div>
                <div>25</div>
                <div>26</div>
                <div>27</div>
                <div>28</div>
                <div>29</div>
                <div>30</div>
            </div>
        </div>
        <div class="indicadores">
            <div class="indicadores-icons-resp">
                <div class="iconos">
                    <span id="entregado"></span>
                    <span id="sinEntregar"></span>
                    <span id="atrasado"></span>
                </div>
                <div class="iconosRespectivos">
                    <p>Entregado</p>
                    <p>Sin entregar</p>
                    <p>Atrasado</p>
                </div>
            </div>
        </div>
        <div class="verTareasbutton">
            <a href="#">Ver Tareas</a>
        </div>
		<footer class="footer">
            <div class="version">
                <p>versión 3.1.0</p>
            </div>
            <div class="portfolio">
                <p>Portafolio - del - Estudiante</p>
            </div>
            <div class="copyright">
                <p><a href="https://www.instagram.com/pericao320/" target="_blank" title="Instagram - Pericao">Pericao</a> - © - Copyright 2022</p>
            </div>
		</footer>
	</div>
</body>
</html>